/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
  background: url(https://blzgdapipro-a.akamaihd.net/media/screenshot/hanamura-screenshot-001.jpg) no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  /* All backgrounds to go edge to edge */
  margin: 0;
  background: black;
  color: white;
}

ul {
  padding-left: 0;
  list-style: none;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

.contrainer {
  overflow: auto;
}

.grid-left {
  position: absolute;
  bottom: 5rem;
  left: 5rem;
  overflow: auto;
  padding-right: 10rem;
}

.grid-left > * {
  float: left;
}

.grid-right {
  position: absolute;
  bottom: 5rem;
  right: 5rem;
  overflow: auto;
  padding-top: 4rem;
  padding-bottom: 2rem;
}

.grid-right > * {
  float: left;
}

.grid-center {
  position: fixed;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
}

.chara-text {
  margin-left: 2rem;
  font-size: 2rem;
}

.max-hp {
  font-size: 1rem;
}

.chara-hp {
  margin-left: 8rem;
  margin-top: 3rem;
  position: absolute;
}

.chara-hp-bar {
  display: inline-block;
  height: 2rem;
  width: 4rem;
  background: white;
  border-radius: 10%;
}

.skull {
  height: 5rem;
  width: 5rem;
  margin: 0 auto;
}

.killed {
  padding-top: 5rem;
}

.enemy {
  text-align: center;
}

.enemy-name {
  color: red;
}

.chara-avatar {
  display: inline;
}

.ammo {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 2rem;
}

.ammo-max {
  font-size: 1rem;
}

.special-icon {
  padding-right: 2rem;
}

.weapon {
  padding-left: 2rem;
}

.key {
  position: absolute;
  bottom: 0;
  background: white;
  color: black;
  padding: 0.1rem;
}

.key-a {
  left: 1.5rem;
}

.key-b {
  left: 9.5rem;
}
