/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  /* All backgrounds to go edge to edge */
  margin: 0;
  background: black;
  color: white;
}

ul {
  padding-left: 0;
  list-style: none;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

.contrainer {
  max-width: 65rem;
  margin: 0 auto;
}

.grid {
  overflow: auto;
}

.grid-left {
  float: 0;
  bottom: 0;
  left: 0;
}

.chara-text {
  color: white;
}

.chara-hp {
  width: calc(100% / 4 - 2rem - 2rem);
  min-width: 8rem;
  margin-right: 2rem;
}

.chara-hp-bar {
  height: 2rem;
  width: 1rem;
  background: white;
  margin-right: .5rem;
  border-radius: 25%;
  float: left;
}

.grid-center {

}

.grid-right {

}
